@import "tailwindcss";

.heroBadge {
  background: linear-gradient(
    90deg,
    rgba(142, 141, 141, 0.15) 0%,
    rgba(40, 40, 40, 0.15) 100%
  );
}

.heroText {
  background: linear-gradient(180deg, #e2e8f8 0%, #858992 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.smButton {
  background: linear-gradient(
    90deg,
    rgba(142, 141, 141, 0.15) 0%,
    rgba(40, 40, 40, 0.15) 100%
  );
}

.sideLineLeft {
  border-image: linear-gradient(270deg, #0d111a 0%, #5c73ae 100%) 1;
}

.sideLineRight {
  border-image: linear-gradient(270deg, #5c73ae 0%, #0d111a 100%) 1;
}

.catText {
  background: linear-gradient(90deg, #7687b5 0%, #91b0ff 42%, #e2e8f8 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
